.additionally__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
}

.additionally__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additionally__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: @color-grey-2;
}

.additionally__product {
  display: flex;
  flex-direction: column;
}

.additionally__info {
  font-size: 14px;
  line-height: 14px;
  color: @color-dark-grey;
}
