.example__wrapper {
  background: @color-background;
  padding: 0 20px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @color-black;
  margin: 0;
  padding: 25px 0 40px;
  font-weight: 400;
  display: flex;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;
  margin: 0;
}

.example__fieldset-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__info {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
  display: inline-block;
  padding-top: 12px;
}

.example__fieldset {
  width: 124px;
  text-align: center;
  border: 1px solid @color-special-grey;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  padding: 0;
}

fieldset,
legend,
.example__info {
  transform: rotate(180deg);
}

.example__waste {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;
  margin: 0;
}

.example__text--mod {
  width: 77px;
  padding-top: 7px;
  font-size: 12px;
  line-height: 1;
}

.example__mobile {
  position: absolute;
  right: 150px;
}

.example__desc {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    padding: 0 30px;
    background: @color-white;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__info {
    font-size: 30px;
    line-height: 37px;
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .example__waste {
    text-align: end;
    font-size: 20px;
    line-height: 20px;
  }

  .example__desc {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    margin-top: 10px;
  }

  .example__text--mod {
    width: 138px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
  }

  .example__text--newmod {
    width: 112px;
  }

  .example__text--more {
    font-size: 16px;
    line-height: 24px;
    width: 662px;
    padding-bottom: 54px;
  }

  .example__fieldset {
    width: 162px;
  }

  .example__fieldset-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 275px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    padding: 0 110px;
  }

  .example__desc {
    width: 321px;
    justify-content: space-between;
    flex-direction: row;
  }

  .example__text--more {
    width: 436px;
    display: inline-block;
  }

  .example__title {
    padding: 0 0 76px;
  }

  .example__text--mod {
    padding-bottom: 0;
  }

  .example__fieldset-wrapper {
    display: grid;
    grid-template-columns: 162px 162px;
    justify-content: start;
    gap: 52px 42px;
    margin-bottom: 75px;
  }
}
