.example__wrapper {
  background: @color-background;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @color-black;
}

.example__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;
}

.example__info {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
}

.example__waste {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;
}
