.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: @color-black;
  margin: 0;
}

.form__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-black;
}

.form__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-dark-grey;
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: @color-black;
}

.form__field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-dark-grey;
}

.form__info {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: @color-black;
}
