.program__enumeration {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @color-black;
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;
  margin: 0;
}

.program__desc {
  margin-bottom: 22px;
}

.program__desc:nth-last-child(1) {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .program__enumeration {
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 37px 153px;
  }
}

@media (min-width: @tablet-width) {
  .program__desc {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .program__enumeration {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    gap: 80px;
  }
}
